.contents-left > a {
    text-decoration: none; /* no underline */
    color: black;
  }

.contents-left {
  flex-basis: 50%;
  font-size: 2em;
  font-weight: 500;
  padding-top: .2em;
}

.contents-right {
  position: relative;
  vertical-align: center;
  flex-basis: 50%;
}

.connect-container-connected {
  float: right;
  top: 50%;
  margin-right: 1.5em;
}

.connect-container-disconnected {
  float: right;
  top: 50%;
  margin-right: 2em;
  margin-top: .5em;
  margin-bottom: auto;
}

.header-container {
  display: flex;
  width: min(100%,850px);
  margin: .5em auto auto auto;
  height: 50px;
}
